.box-box {
    display: flex;
}
.box1 {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(154,154,154,1) 50%, rgba(223,0,0,1) 100%); 
    
    width: 550px;
    height: 429px;
    margin :100px 100px ;
    display: flex;

}
img {
    height: 490px;
    width: 290px;
    display: block ;
    position: relative;
    bottom: 50px;
}

.box2 {
    background-color: gray;
    width: 550px;
    height: 300px;
    margin :100px 100px ;
    
}